<div class="header-wrapper">
    <header>
        <div class="container">
            <div class="header-logo">
                <img src="dist/images/logo.png" alt="logo"/>
            </div>
        </div>
    </header>
    <div class="shadow"></div>
</div>
