<nav class="top-nav">
    <ul>
        <li><a href="#">about us</a></li>
        <li class="top-drop-down"><a href="#">our story</a>
            <ul class="drop-down">
                <li><a href="#">here</a></li>
                <li><a href="#">there</a></li>
            </ul>
        </li>
        <li><a href="#">our product</a></li>
        <li class="top-drop-down"><a href="#">join our team</a>
            <ul class="drop-down">
                <li><a href="#">Holy shit Dawg</a></li>
                <li><a href="#">Holy Guacamole Batman</a></li>
                <li><a href="#">What the F*/!? Dude</a></li>
            </ul>
        </li>
        <li><a href="#">contact us</a></li>
    </ul>
</nav>